body,
textarea,
input {
	font: 13px "Trebuchet MS", sans-serif;
}

.chat {
	max-width: 300px;
}

.chat-messages,
.chat textarea,
.chat-name {
	border: 1px solid #bbb;
}

.chat-messages {
	width: 100%;
	height: 300px;
	overflow-y: scroll;
	padding: 10px; 
}

.chat-message {
	margin-bottom: 8px;
}

.chat-name {
	width: 100%;
	padding: 10px;
	border-bottom: 0;
	margin: 0;

}

.chat textarea {
	width: 100%;
	padding: 10px;
	margin: 0;
	border-top: 0;
	max-width: 100%;
}

.chat-status {
	color: #bbb;
}

.chat textarea,
.chat-name {
	outline: none;
}